@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
}

body {
  @apply bg-slate-50 text-slate-800 antialiased font-sans;
}

/* Custom Scrollbar for a cleaner feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}